# IDE / Editor
.vscode/*
.vs
*.user
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/workspace.code-workspace

# V language
/vls.log

# https://github.com/github/gitignore/blob/master/C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app